.ani{
  display: flex;
  justify-content: center;
  align-items: center;
 overflow: hidden;
}

#animalImage{
  width: 300px;
  height: 400px;
  object-fit: cover;
}

#animalSelect{
  padding: 5px 5px;
  font-size: 20px;
  border: 2px solid;
}